.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.main-content {
  padding-top: 0;
  padding-bottom: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
